
@{
    ViewBag.Title = "ShowToCart";
}

@using (Html.BeginForm("CheckOutInfo", "Shopping"))
{
    <main>
        @*Place Order*@
        <div class="col-lg-5 mx-auto border rounded-md p-5">
            <div class="font-medium mb-2">Shipping Info</div>
            <div class="text-gray-400 font-light text-xs">Fill your order</div>
            @*Email*@
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="email" class="text-sm">Email</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your email" name="email" required />
                </div>
            </div>
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="phone" class="text-sm">Phone</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your phone number" name="phone" required />
                </div>
            </div>
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="street" class="text-sm">Street</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your street" name="address" required />
                </div>
            </div>
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="district" class="text-sm">District</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your district" name="district" required />
                </div>
            </div>
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="ward" class="text-sm">Ward</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your ward" name="ward" required />
                </div>
            </div>
            <div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="city" class="text-sm">City</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your city" name="city" required />
                </div>
            </div>
            @*<div class="mt-2 text-black">
                <div class="relative w-full" data-te-input-wrapper-init>
                    <label for="card-number" class="text-sm">Card</label><br />
                    <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your card number" name="card-number" />
                </div>
            </div>*@
            @*Promo Code*@
            @*<div class="my-4">
                <div class="font-medium mb-2">Apply Coupon</div>
                <div class="text-gray-400 font-light text-xs">Using A Promo Code?</div>
                Enter promo-code
                <div class="mt-2 text-black">
                    <div class="relative w-full" data-te-input-wrapper-init>
                        <label for="code" class="text-sm">Promocode</label><br />
                        <input type="text" class="font-light text-black border-b py-2 pl-3 w-full mt-2" placeholder="Enter your promocode" name="code" />
                    </div>
                </div>
            </div>*@
            @*Order Sumamry*@
        <div class="mt-4">

            <input class="btn bg-blue-600 hover:bg-blue-800 w-full rounded-md text-white text-center text-md font-medium py-3 mt-2" type="submit" value="Continue Checkout" />


        </div>
        </div>
    </main>
}


