
@{
    ViewBag.Title = "Index";
    Layout = "../../Views/Shared/_AdminLayout.cshtml";
}

<main class="h-screen">
    <div class="w-75 mx-auto border rounded-lg shadow-md p-5 my-4 text-center">
        <div class="w-25 h-25 mx-auto">
            <img class="object-center object-cover rounded-circle" src="https://i.pinimg.com/564x/64/cf/6f/64cf6f2685b6939f1a9418289c3dd647.jpg" />
        </div>
        <div class="text-3xl font-bold mt-3">Name</div>
        <div class="font-light text-md mb-4">Administrator</div>

        <div class="m-2 border rounded-lg p-4 grid grid-cols-2 text-start">
            <div class="col-span-1">
                <div class="flex text-lg font-bold my-2">
                    Name
                    <a href="#"><i class="fa-regular fa-pen-to-square ms-3"></i></a>
                </div>
                <p>Maria Clerk</p>
            </div>
            <div class="col-span-1">
                <div class="text-lg font-bold my-2">
                    Phone
                    <a href="#"><i class="fa-regular fa-pen-to-square ms-3"></i></a>
                </div>
                <p>632-122-2854</p>
            </div>
            <div class="col-span-1">
                <div class="text-lg font-bold my-2">
                    Email
                    <a href="#"><i class="fa-regular fa-pen-to-square ms-3"></i></a>
                </div>
                <p>maria246@gmail.com</p>
            </div>
            <div class="col-span-1">
                <div class="text-lg font-bold my-2">Address</div>
                <p>44-46 Pasteur, Ben Nghe, District 1, Ho Chi Minh City</p>
            </div>
            <div class="col-span-2 text-center mt-2">
                <div href="#" class="btn rounded-md bg-yellow-300 hover:bg-yellow-500 cursor-pointer text-black font-medium px-4 py-2 mt-4" style="width: fit-content">
                    Edit
                </div>
            </div>
        </div>
    </div>
</main>