@{
    ViewBag.Title = "Chats";
}

<main>
    <div class="flex justify-start p-5">
        <aside class="w-48" aria-label="Sidebar">
            <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 @*dark:bg-gray-800*@">
                <ul class="space-y-2">
                    <li>
                        <div href="#" class="items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white*@">
                            <img class="relative h-75 w-75 ms-2 mb-3 rounded-lg" alt="Image placeholder" src="https://i.pinimg.com/564x/64/cf/6f/64cf6f2685b6939f1a9418289c3dd647.jpg" />
                            <span class="ml-3">Name</span>
                        </div>
                    </li>
                    <li class="mt-5">
                        <a href="@Url.Action("Dashboard", "Home")" class="flex items-center p-2 text-base  font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="ml-3">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Order", "Home")" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg @*dark:text-white*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Chats</span>
                        </a>
                    </li>
                    <li class="mt-5">
                        <a href="@Url.Action("Index", "Home")" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="ms-5 max-w-full">
            <p class="text-4xl font-bold my-4">Chats</p>
            <p class="text-2xl">Let's talk.'</p>
            @*chat box*@
            <div class="my-4 border-solid border-black shadow-sm rounded">
                <div class="my-4">
                    <div class="text-center">
                        <p class="text-xl font-bold">CHAT WITH US</p>
                        <p>Our experts will reply you as soon as possible.</p>
                        <p>Please be patient a little while, sir.</p>
                    </div>
                    <div class="m-4">
                        <div class="row">
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-1 w-56 bg-gray-100 rounded-md">
                                    <p class="m-2">What can we do for you, sir?</p>
                                </div>
                                <div class="col-span-1"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-1"></div>
                                <div class="col-span-1 max-w-sm bg-blue-600 text-white rounded-md justify-self-end">
                                    <p class="m-2">I didn't receive my order last week.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <a href="#" class="btn rounded-full bg-gray-100 hover:bg-sky-300">
                    <i class="fa-solid fa-image"></i>
                </a>
                <a href="#" class="btn rounded-full bg-gray-100 hover:bg-sky-300">
                    <i class="fa-solid fa-paperclip"></i>
                </a>                
                <input type="text" class="form-control" placeholder="Enter your message..." aria-label="" aria-describedby="">                
                <a href="#" class="btn rounded-full bg-gray-100 hover:bg-sky-300">
                    <i class="fa-solid fa-paper-plane"></i>
                </a>
            </div>
        </div>
    </div>    
</main>