
@{
    ViewBag.Title = "Order";
}

<main>
    <div class="flex justify-start p-5">
        <aside class="w-48" aria-label="Sidebar">
            <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 @*dark:bg-gray-800*@">
                <ul class="space-y-2">
                    <li>
                        <div href="#" class="items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white*@">
                            <img class="relative h-75 w-75 ms-2 mb-3 rounded-lg" alt="Image placeholder" src="https://i.pinimg.com/564x/64/cf/6f/64cf6f2685b6939f1a9418289c3dd647.jpg" />
                            <span class="ml-3">Name</span>
                        </div>
                    </li>
                    <li class="mt-5">
                        <a href="@Url.Action("Dashboard", "Home")" class="flex items-center p-2 text-base  font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="ml-3">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-base  font-bold text-gray-900 rounded-lg @*dark:text-white*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Chats", "Home")" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Chats</span>
                        </a>
                    </li>
                    <li class="mt-5">
                        <a href="@Url.Action("Index", "Home")" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg @*dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700*@">
                            <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="ms-5">
            <p class="text-4xl font-bold my-4">Orders</p>
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 rounded-t-lg dark:text-gray-400" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
                <li class="me-2">
                    <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-tl-lg hover:italic dark:hover:italic dark:text-blue-500">On Process</button>
                </li>
                <li class="me-2">
                    <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:italic dark:hover:italic dark:hover:text-gray-300">Completed</button>
                </li>
                <li class="me-2">
                    <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:italic dark:hover:italic dark:hover:text-gray-300">Canceled</button>
                </li>
            </ul>
            <div id="defaultTabContent">
                @*On process*@
                <div class="hidden bg-white rounded-lg" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="grid grid-cols-2 gap-4 p-3">
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Waiting</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Waiting</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 text-center">
                        <a class="inline-flex text-neutral-500 text-md ms-4">
                            View More
                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

                @*Completed*@
                <div class="hidden bg-white rounded-lg" id="services" role="tabpanel" aria-labelledby="services-tab">
                    <div class="grid grid-cols-2 gap-4 p-3">
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Completed</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Completed</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 text-center">
                        <a class="inline-flex text-neutral-500 text-md ms-4">
                            View More
                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

                @*Canceled*@
                <div class="hidden bg-white rounded-lg" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                    <div class="grid grid-cols-2 gap-4 p-3">
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Canceled</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container border-solid border-black shadow-sm rounded">
                            <div class="m-3">
                                <div class="flex">
                                    <span class="w-75 text-xl font-bold">Apple - iPhone 14 Pro Max</span>
                                    <div class="w-25 text-end">
                                        <span class="text-neutral-500 text-md ms-4">(1)</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-neutral-500 text-md">Mar 20, 2023</span>
                                    <span class="text-neutral-500 text-md ms-4">Canceled</span>
                                </div>
                                <ul class="list-disc list-inside my-3">
                                    <li>Purple</li>
                                    <li>256GB</li>
                                </ul>
                                <div class="flex my-4">
                                    <span class="w-60 text-xl font-bold">$1,204.99</span>
                                    <div class="text-end">
                                        <a class="inline-flex text-neutral-500 text-md ms-4">
                                            View More
                                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 text-center">
                        <a class="inline-flex text-neutral-500 text-md ms-4">
                            View More
                            <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




