<main>
        <div class="text-center my-lg-4 mx-auto justify-center">
            <div class="text-[48px] font-semibold">What are you searching for</div>
            <p>Surf for more</p>

            <div class="flex align-content-center align-self-center">
                <input type="text" class="font-light text-gray-400 bg-white border-b py-2" style="padding-right: 400px" placeholder="  Search" />
                <div class="p-3 mx-2 text-center font-light text-xs">
                    <i class="fa-solid fa-search"></i>
                </div>
            </div>
        </div>

    </main>

