@model WebApplication1.Models.brand

@{
    ViewBag.Title = "Details";
      Layout = "../../Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.names)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_brand }) |
    @Html.ActionLink("Back to List", "Index")
</p>
